[submodule "external/zig-bitjuggle"]
	path = external/zig-bitjuggle
	url = https://github.com/leecannon/zig-bitjuggle.git
[submodule "external/zig-args"]
	path = external/zig-args
	url = https://github.com/leecannon/zig-args.git
[submodule "external/tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "external/bestline"]
	path = external/bestline
	url = https://github.com/jart/bestline.git
[submodule "external/known-folders"]
	path = external/known-folders
	url = https://github.com/ziglibs/known-folders.git
