[submodule "libraries/zig-bitjuggle"]
	path = libraries/zig-bitjuggle
	url = https://github.com/leecannon/zig-bitjuggle.git
[submodule "libraries/zig-args"]
	path = libraries/zig-args
	url = https://github.com/MasterQ32/zig-args.git
[submodule "libraries/tracy"]
	path = libraries/tracy/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "libraries/bestline"]
	path = libraries/bestline/bestline
	url = https://github.com/jart/bestline.git
[submodule "libraries/known-folders"]
	path = libraries/known-folders
	url = https://github.com/ziglibs/known-folders.git
[submodule "libraries/zig-gamedev"]
	path = libraries/zig-gamedev
	url = https://github.com/michal-z/zig-gamedev.git
